<!DOCTYPE html>
<html style="height: 100%">
  <head>
    <title>AiChat</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body style="height: 100%">
    <%= yield %>
  </body>
  <script type="text/javascript">
    window.avatar_url = "<%= user_signed_in? ? current_user.avatar_url : '' %>";
  </script>
</html>
