<!DOCTYPE html>
<html style="height: 100%">
  <head>
    <title>aii.chat - 人工智能对话平台</title>
    <meta name=keywords content="ChatGPT, aii.chat, ai chat, chatgpt, AI, 智能问答, 聊天机器人">
    <meta name=description content="人工智能问答平台">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta property="og:type" content="website" />
    <meta property="og:title" content="aii.chat - 人工智能对话">
    <meta property="og:description" content="人工智能问答平台">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>
    <%= favicon_link_tag "logo_icon.png" %>
    <%= Gon::Base.render_data %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <script type="text/javascript">
      const prefersDarkMode = window.matchMedia("(prefers-color-scheme: dark)")
      if (localStorage.theme === "dark" || (!("theme" in localStorage) && prefersDarkMode.matches)) {
        document.documentElement.classList.add("dark")
      } else {
        document.documentElement.classList.remove("dark")
      }
      prefersDarkMode.addEventListener('change', (e) => {
        if (e.matches) {
          document.documentElement.classList.add("dark")
          localStorage.theme = "dark"
        } else {
          document.documentElement.classList.remove("dark")
          localStorage.theme = "light"
        }
      })
    </script>
  </head>

  <body style="height: 100%" class="bg-white antialiased dark:bg-zinc-900">
    <%= yield %>
  </body>
</html>
